{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% if original %}{{original}}{%endif%}{{title}}{% endblock %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/papaparse@latest/papaparse.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/eligrey/FileSaver.js/dist/FileSaver.min.js"></script>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Investigative Records Processing System' %}</h1>
{% endblock %}

{% block extrastyle %}
<style>
#result_list tr:hover {
  background-color: rgba(255, 255, 0, 0.2);
}
#header {
  background-color: #e2e6ee;
}
#header, #header a, #header a:link, #header a:visited,
#branding h1, #branding h1 a:link, #branding h1 a:visited {
  color: black;
}
.button, .button.default, input[type=submit].default, .submit-row input.default {
  background-color: #7081a2;
  opacity: 1.0;
}
input[type=submit], input[type=button], .submit-row input, a.button {
  background-color: #7081a2;
  opacity: 0.6;
}
#nav-sidebar .current-app .section:link,
#nav-sidebar .current-app .section:visited {
  color: white;
}
.module h2, .module caption, .inline-group h2,
div.breadcrumbs {
  background-color: #7081a2;
  color: white;
}
a, a:link, a:visited {
  color: #7081a2;
}
#nav-sidebar .current-model {
  background-color: #e2e6ee;
}
.toggle-nav-sidebar {
    border-right: 1px solid #eaeaea;
    background-color: #efefef;
    border-top: 0;
    border-left: 0;
}
.file-viewer {
  width: 100%;
}
.file-viewer iframe {
  width: 100%;
  min-height: 400px;
}
.field-related .related-widget-wrapper .stacked,
.field-related .related-widget-wrapper {
    width: calc(100% - 180px);
}
.field-related .related-widget-wrapper .stacked .selector-chosen,
.field-related .related-widget-wrapper .stacked .selector-available {
  width: calc(100% - 20px); /* save room for plus mark */
}
.field-related .related-widget-wrapper .stacked select {
  width: 100%;
}
</style>
{% endblock %}
