{% load static %}
<link rel="stylesheet" href="{% static 'css/selectize.default.css' %}" />
<style>
#table-builder {
  border-spacing: 0;
}
#table-builder td {
  padding: 0;
  margin: 0;
  text-align: center;
}
#table-builder td input {
  border-radius: 0px;
}
.row .id- {
  width: 30px;
}
.row .last-name,
.row .first-name {
  width: 75px;
}
.row .finding {
  width: 75px;
}
.row .mid- {
  width: 30px;
}
.row .date{
  width: 80px;
}
.row .pg- {
  width: 20px;
}
.row .remove {
  cursor: pointer;
  color: red;
  vertical-align: middle;
  font-size: 20px;
}
.row input {
  height: 30px;
}
.field-add_new_csv {
  overflow: visible;
}
.selectize-control,
.selectize-input {
  height: 42px;
}
.selectize-dropdown {
  z-index: 20;
}
.selectize-dropdown-content .active {
  background-color: #7081a2;
  color: white;
}
.selectize-control.discipline .selectize-input,
.selectize-control.discipline {
  width: 175px;
}
.selectize-control.allegation .selectize-input,
.selectize-control.allegation {
  width: 185px;
}
.selectize-control.finding .selectize-input,
.selectize-control.finding {
  width: 100px;
}
</style>

<script src="{% static 'js/standalone/selectize.min.js' %}"></script>
<!--<script src="{% static 'js/selectize.min.js' %}"></script>-->
<script>
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = django.jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});
</script>
<script>
$(document).ready(() => {
  const columns = [{
    label: "Date",
  }, {
    label: "First Name",
  }, {
    label: "Last Name",
  }, {
    label: "Mid.",
  }, {
    label: "Allegation",
  }, {
    label: "Finding",
  }, {
    label: "Discipline",
  }, {
    label: "ID #",
  }, {
    label: "Notes"
  }, {
    label: "Pg."
  }];

  const table = $("#table-builder");

  const addHeader = () => {
    const header = $("<tr></tr>");
    columns.forEach((col) => {
      const label = col.label;
      const cell = $(`<th class='cell'>${label}</th>`);
      cell.appendTo(header);
    });
    const remCell = $("<th class='cell'>Remove</th>");
    remCell.appendTo(header);
    header.appendTo(table);
  };

  const getPlaceholder = (name) => {
    if (name === "date") {
      return "YYYY-MM-DD";
    }
    return "";
  };

  const makeid = (length) => {
    var result = '';
    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
    var charactersLength = characters.length;
    for ( var i = 0; i < length; i++ ) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
  };

  const addRow = (e) => {
    if (e) {
      e.preventDefault();
      e.stopPropagation();
    }
    const row = $("<tr class='row'></tr>");
    const interactiveIds = [];
    columns.forEach((col) => {
      const label = col.label;
      const name = label.toLocaleLowerCase().replace(/[\s#\.]+/, "-");
      const placeholder = getPlaceholder(name);
      const pk = makeid(16);
      $(`<td><input id="${pk}" type="text" class="cell ${name}" name="${name}" value="" placeholder="${placeholder}" /></td>`).appendTo(row);
      if (name === 'allegation' | name === 'finding' || name === 'discipline') {
        interactiveIds.push({
          pk: pk,
          name: name
        });
      }
    });
    const remBtn = $(`<td class='cell remove'>🗑️</td>`);
    remBtn.on('click', (e) => {
      $(e.target).parent().remove();
    });
    remBtn.appendTo(row);
    row.appendTo(table);

    interactiveIds.forEach((data) => {
      const selector = $(`#${data.pk}`).selectize({
        separator: ', ',
        persist: false,
        preload: true,
        openOnFocus: true,
        maxItems: null,
        valueField: 'value',
        labelField: 'value',
        searchField: ['value'],
        render: {
          item: function(item, escape) {
            return '<div>' +
              (item.value ? '<span class="value">' + escape(item.value) + '</span>' : '') +
            '</div>';
          },
          option: function(item, escape) {
            return '<div>' +
              '<span class="label">' + escape(item.value) + '</span>' +
            '</div>';
          }
        },
        create: function(input, callback) {
          $.post('/api/fieldname_values', {
            fieldname: data.name,
            value: input,
          }, (res) => {
            callback({value: input});
          });
        },
        load: function(query, callback) {
          // if (!query.length) return callback();
          $.ajax({
            url: '/api/fieldname_values',
            type: 'GET',
            dataType: 'json',
            data: {
              q: query,
              fieldname: data.name,
            },
            error: function() {
              callback();
            },
            success: function(res) {
              callback(res);
            }
          });
        },
        onItemAdd: function(value, $item) {
          $.post('/api/fieldname_values/count', {
            fieldname: data.name,
            value: value,
          });
        },
      });
    });
  };

  const download = (e) => {
    if (e) {
      e.preventDefault();
      e.stopPropagation();
    }
    const rows = [
      columns.map((r) => r.label),
    ];
    table.find("tr").each((_, tr) => {
      const row = [];
      $(tr).find("input.cell").each((_, td) => {
        const value = $(td).val().trim();
        console.log("td", td, "value", value);
        row.push(value);
      });
      if (row && row.length) {
        rows.push(row);
      }
    });

    const csv = Papa.unparse(rows, {
      quotes: true,
      escapeChar: '"',
    });
    const blob = new Blob([csv], {type: "text/csv;charset=utf-8"});
    const filepath = $("#document_form .field-file a")[0].textContent.replace(".pdf", ".csv");
    const filename = filepath.split("/").pop();
    saveAs(blob, filename);
  };

  addHeader();
  addRow();

  $(".add-row").on("click", addRow);
  $(".download").on("click", download);
});
</script>
<div>
  <p>
  Use this to create a new CSV file corresponding to the above request
  document. Once you're done adding information, you can download it
  and then upload it below as a processed document. Make sure to set the
  status on the processed document when you do that!
  </p>
  <table id="table-builder"></table>
  <button class="add-row">Add row</button>
  <button class="download">Download File</button>
</div>
